html {
  box-sizing: border-box;
  height: 100vh;
  padding: 0px;
  overflow-x: hidden;
  ::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }
  scrollbar-width: none;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  overflow-x: hidden;
  ::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }
  scrollbar-width: none;
  // position: relative;
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
}
.navbar {
  z-index: 100;
  position: fixed;
  top: 0;
  a.navbar-brand {
    font-family: Courier New, Courier;
  }
}
button.active {
  color: #36303c !important;
  background-color: #f8f9fa !important;
  // border-radius: 0px !important;
}
.wrapper {
  position: fixed;
  z-index: 10;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100%;
  overflow-y: scroll;
  ::-webkit-scrollbar {
    display: none;
  }
}
@media only screen and (min-width: 600px) {
  body {
    background-image: url("../images/background5a.jpg");
  }
}
@media only screen and (max-width: 575.5px) {
  div.container-fluid .border-end {
    border: none !important;
  }
  .navbar-brand {
    font-size: 1.75rem;
  }
  .nav-pills {
    border-left: 1.5px solid #f8f9fa !important;
    margin-left: 3px !important;
    padding-left: 10px !important;
  }
  button.active {
    padding-left: 6px !important;
    padding-right: 6px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-left: -6px !important;
  }
}
@media only screen and (max-width: 600px) {
  body {
    background-image: url("../images/mobile-background1.jpg");
  }
}
.header {
  padding-top: 20px;
  padding-bottom: 80px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: bold;
  font-family: Courier New;
  color: white;
  position: relative;
  height: 15px;
}
#teamCompsCB {
  min-height: 80vh;
}
#recommended-select {
  max-width: 300px !important;
}
.damage-goal {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.2rem;
  color: #d1d1d1;
}
.placeholder {
  margin-left: 10px;
  margin-right: 10px;
}
.placeholder-text {
  min-height: 80vh;
  margin-left: 20px;
  margin-right: 10px;
}
.team-comps {
  max-width: 500px;
}
.submission-info {
  padding-left: 11px;
  padding-bottom: 0px;
  font-size: 1.1em;
}
.notes {
  margin-top: -5px;
  text-align: left;
}
.unit {
  min-width: 50px !important;
}
.unit-range {
  max-width: 40px;
  min-width: 30px;
  font-size: 0.75rem;
}
.comp-spacer {
  padding-top: 1px !important;
  padding-bottom: 0px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  max-width: 258px;
  color: white !important;
}
.star {
  max-width: 14px;
  margin-left: -2px;
  margin-top: -13px;
}
.first-star {
  margin-left: 0px !important;
}
.stars-container {
  max-width: 30px;
}
.cb-selector {
  display: inline-block !important;
  width: 90px !important;
  font-weight: bold;
  &:focus {
    box-shadow: none !important;
  }
}
.boss-selector {
  border: 1px solid grey;
  color: grey;
  font-family: Courier, Courier New, Arial, Helvetica;
  font-size: 1.2rem;
  // margin-bottom: -2px !important;
  border-bottom: none;
}
.lap-selector {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}
.unit-filter-selector {
}
.form-check {
  text-align: left !important;
}
.modal-backdrop {
  position: static !important;
}
.active-boss {
  font-weight: bold;
  color: white;
  border-color: white;
  border: 2px solid;
  border-bottom: 2px solid grey;
  padding-bottom: 2px;
  margin-top: -1px;
  margin-bottom: -2px;
}
.text-left {
  text-align: left !important;
}
